.container{
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(8, 1fr);
    width: 1000px;
    height: 600px;
}

@media only screen and (max-device-width: 667px) {

    .container {
        height: 667px;
        width: 375px;
    }

}