.container{
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(8, 1fr);
    width: 1000px;
    height: 600px;
    margin: auto;
    background-color: #189292;
}

header {
    grid-column: 1/9;
    grid-row: 1/4;
    background-color: #00e4e4;
}

.train {
    grid-column: 4/6;
    grid-row: 2/3;
    background-color: white;
    border: 2px solid #090d0d;
    font-size: 32px;
    border-radius: 8px;
}

@media only screen and (max-device-width: 375px) {

    .container {
        height: 667px;
        width: 375px;
    }

}

@media only screen and (min-device-width: 650px) {

    .container {
        height: 375px;
        width: 667px;
    }
}

@media only screen and (min-device-width: 700px) {

    .container {
        width: 1000px;
        height: 600px;
    }
}

1d3a3a
090d0d